body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    background-color: aliceblue;
}
header {
    min-height: 10vh;
    border: 2px solid black;
    width: 80vw;
    margin: 20px auto;
    background-color: antiquewhite;
}
section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 30vh;
    padding: 30px;
    background-color: aliceblue;
}

div {
    max-width: 50vw;
    height: 10vh;
}